{% load static %}
<!-- jQuery Plugins -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/nouislider.min.js" %}"></script>
<script src="{% static "js/jquery.zoom.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/ajaxify.js" %}"></script>
